body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    color: white;
    width: 25%;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

    .sidebar h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .sidebar h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
    }

.content {
    margin-left: 25%;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.hero {
    height: 50vh;
    background: url('foliage.jpg') center/cover no-repeat;
    position: relative;
}

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        z-index: 1;
    }

.section {
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
}

    .section::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 162, 255, 0.7), rgba(0, 162, 255, 0));
        z-index: 1;
    }

.blue {
    background: url('teto.jpg') center/cover no-repeat;
}

.green {
    background: url('greece.jpg') center/cover no-repeat;
}

.red {
    background: url('italy.jpg') center/cover no-repeat;
}

.blue::after {
    background: linear-gradient(to right, rgba(0, 162, 255, 0.7), rgba(0, 162, 255, 0));
}

.green::after {
    background: linear-gradient(to right, rgba(0, 255, 127, 0.7), rgba(0, 255, 127, 0));
}

.red::after {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.7), rgba(255, 0, 0, 0));
}
